<%- include("./layouts/header"); -%>

<body>

  <%- include("./layouts/navbar"); -%>

  <div class="content">
    <h1><%= post.name %></h1>
    <p><%= post.content %></p>
    <button id="button"><a href="/deletePost/<%= post.id %>">Delete</a></button>
  </div>

  <%- include("./layouts/footer"); -%>

</body>

</html>